<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <link rel="icon" href="assets/img/burger.png">
    {{!--
    <script src="/assets/js/cats.js"></script> --}}

    <title>Burger App</title>
</head>

<body>

    {{{body}}}

    <footer class=" center footer">
        <div class="container">
            <p> copyright © Eat-Da-Burger App 2019</p>
        </div>
    </footer>

</body>

</html>