<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!--
    <script src="/assets/js/cats.js"></script> --}}

    <title>Burger App</title>
</head>

<body>

    {{{body}}}

</body>

</html>